@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

:root {
    --black: #171717;
    --white: #ffffff;
    --cyan: #00bfa5;
    --blue: #1649ff;
    --yellow: #ffeb5a;
    --grey: #9ba4b7;
}

* {
    margin:0;

}

html {
    scroll-behavior: smooth;
}
header nav ul {
    list-style-type: none;
    
}

.menu {
   
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative; 
}
.box-logo-header {
    
}
.header-navigation {
    display: none;
}

.menu button {
    display: none;
}
.menu-mobile {
    background-color: var(--white);
    height: 100vh;
    position: fixed;
    top:0 ;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s
}
.menu-mobile.open-menu {
    width: 70%;
}
.menu-mobile .btn-close  {
    padding: 20px 5%;
 }
 .menu-mobile .btn-close i{
    color: var(--black);
    font-size: 30px;
    cursor: pointer;
}
.menu-mobile nav ul{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-top: 10vh;

}
.menu-mobile nav ul li a{
    color: var(--grey);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 5%;
    display: block;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
.menu-mobile nav ul li a:hover{
    background-color: var(--blue);
    color: var(--black)

}
.overlay-menu {
    background-color: rgb(134, 129, 129);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 8888;
    display: none;
}
.btn-open-menu i{
    color: var(--blue);
    font-size: 40px;
    position: absolute;
    top: 0; 
    right: 10px; 
    
    
 }
.box-logo-header {
    margin-top: 0.3em;
}
.container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .section-title h1 {
    color: var(--black);
    font-family: 'Manrope', sans-serif;
    font-size: 1.3em;
}
.container .main-title h1 {
    color: var(--blue);
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    height: 2em; 
    width: 90%;

}
.input-control {
   height: 2em;
   width: 70%;
   padding-left: 5px;
}
.search-form button {
    background-color: var(--blue);
    border-radius: 0.5vh; 
    height: 2.6em;
    width: 6em;
    border: none;
    margin-left: 1em;
    cursor: pointer;
    color: var(--white)
}
.inputMessage {
    margin-bottom: 2em;
    color: var(--blue);
    font-family: "Inter", sans-serif;
}
.image-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.img-1 , .img-2{
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin-top: 1vh;
    border: 0.05vh solid var(--grey)
}

.image-container img{
    width: 90%;
    height: 30em;
    padding: 2em;
}
.services-section {
    margin-top: 3em;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;

}
.services-section-title  {
   margin-top: 3em;
   margin-bottom: 2em;

}

.services-section-title h2 {
   color: var(--white);
   font-family:  'Manrope', sans-serif;
}
.display-grid {
    display: flex;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid {
    width: 12em;
    background-color: var(--white);
    margin-bottom: 2em;
    border-radius: 0.8vh; 
    padding-top: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
.grid:hover {
    background-color: var(--yellow);
    cursor: pointer;
}
.grid h3{
    font-family:  'Manrope', sans-serif;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.grid p {
    font-size: 0.8em;
    font-family: "Inter", sans-serif;
    color: var(--grey);
    
}

.grid h4{
    font-family:  'Manrope', sans-serif;
    font-size: 1em;
    margin-top: 15%;
    color: var(--blue);
    cursor: pointer;
}

.author {
    background-color: var(--blue);
    display: flex;
    min-height: 12em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.author p{
    font-family: "Inter", sans-serif;
    margin-top: 0.5em;
    color: var(--white)
}
@media screen and (min-width: 700px) {
 
    
    .container .section-title h1  {
        font-size: 2.5em;
    }
    .container .main-title h1 {
        font-size: 2.5em;
    }
    .search-form  {
        height: 3.4em;
        align-items: center;
       
    }
    
    .input-control {
        height: 2em;
        font-size: 1em;
        width: 70%;
    
     }
     .search-form button {       
         width: 7.5em;
         font-size: 1em;
         
     }
   
    .display-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;    
    }
    .services-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
     .img-1 , .img-2{
        width: 77%;
      
     }
     
     .image-container img{
         width: 77%;
         height: 40em;
        
     }
     .grid {
        width: 17em;
        height: 20em;
     }
     .grid h3{
        font-size: 1.3em;
    }
    .grid p {
        font-size: 1.1em;
    }
    
    .grid h4{
        font-size: 1.2em;
    }
     
}